# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = Justin Carver
#	email = carver@justcarver.com
[user]
	name = Justin Carver
	email = carver@justcarver.com
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
